.wd-container {
  font-family: "Helvetica", serif;
}

.list-group-item.wd-list-group-item-override {
  background-color: black !important;
  color: white !important;
  /*border: 1px solid #657786;*/
  font-size: 18px !important;
}

.list-group-item.wd-list-group-item-override.active {
  background-color: black !important;
  color: rgb(29, 161, 242) !important;
  font-weight: bolder;
  /*border: 1px solid rgb(29, 161, 242) !important;*/
  border: none;
}

.list-group-item.wd-list-group-item-override:hover {
  color: rgb(29, 161, 242) !important;
  font-weight: bolder;
  /*background-color: #313131 !important;*/
  /*border: 1px solid rgb(29, 161, 242) !important;*/
}

.nav-link.wd-nav-link-override.active {
  background-color: rgb(29, 161, 242) !important;
  font-size: 20px !important;
  font-weight: bold;
  border-radius: 4em !important;
  margin-top: 5px !important;
}

.nav-link.wd-nav-link-override.active:hover {
  background-color: rgb(27, 129, 191) !important;
}

.wd-searchbar > input[type=text] {
  border: 1px solid rgb(20, 29, 38);
  color: white;
  border-radius: 18px;
  background-color: rgb(36, 52, 71);
  width: 92%;
  padding: 5px 16px;
  text-indent: 22px;
}

.wd-searchbar > input[type=text]::placeholder {
  color: white;
  opacity: 1;
}

.wd-searchbar > input[type=text]:focus {
  outline: none !important;
}

.wd-content-search {
  display: inline-flex;
  align-items: center;
  border-left: solid 1px rgb(47, 51, 54);
  border-right: solid 1px rgb(47, 51, 54);
}

.wd-settings {
  margin-left: auto;
  margin-right: 0;
  margin-top: 3px;
}

.fa-cog {
  font-size: 23px;
  color: rgb(29 161 242);
}

.wd-categories {
  font-weight: bolder;
  font-size: 15px;
  color: rgb(110, 118, 125);
  justify-content: space-between;
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}

.wd-categories-tabs {
  font-weight: bolder;
  font-size: 15px;
  color: rgb(110, 118, 125);
  justify-content: space-between;
  /*padding-bottom: 0 !important;*/
  /*padding-top: 0 !important;*/
}

.wd-category {
  padding: 16px;
}

.wd-category-selected-padding {
  padding: 0 16px 0 0;
}

.wd-category-selected {
  color: rgb(29, 161, 242);
  border-bottom: 3px solid rgb(29, 161, 242);
  padding: 16px 0;
}

.wd-img-container {
  position: relative;
  text-align: center;
  color: white;
  width: 100%;
  /*margin: auto;*/
  display: flex;
  /*padding-top: 12px;*/
}

.wd-explore-img {
  width: 100%;
}

.wd-bottom-left-caption {
  position: absolute;
  bottom: 8px;
  left: 16px;
  font-weight: bolder;
  font-size: 24px;
}

.nav-tabs.wd-override-tabs {
  background-color: black;
  color: rgb(29, 161, 242);
  border-bottom: none !important;
  border-left: solid 1px rgb(47, 51, 54);
  border-right: solid 1px rgb(47, 51, 54);
}

.nav-link.wd-override-nav-link.active {
  color: white !important;
  /*background-color: rgb(20 23 26) !important;*/
  /*border-color: rgb(29, 161, 242) rgb(29, 161, 242) transparent !important;*/
  border: none !important;
  text-decoration: underline;
  text-decoration-color: rgb(29, 161, 242);
  text-underline-offset: 1em;
  text-decoration-thickness: 3px;
}

.nav-link.wd-override-nav-link {
  color: rgb(110, 118, 125) !important;
  background-color: black !important;
  font-size: 16px !important;
  /*border-bottom: 1px solid rgb(29, 161, 242) !important;*/
  /*border-color: rgb(29, 161, 242) rgb(29, 161, 242) transparent !important;*/
}

.nav-link.wd-override-nav-link:hover {
  /*border-color: rgb(29, 161, 242) !important;*/
  color: rgb(29, 161, 242) !important;
  /*background-color: rgb(101 119 134);*/
  /*border-color: rgb(29, 161, 242) rgb(29, 161, 242) transparent !important;*/
  border: transparent !important;
}


.wd-content {
  padding: 12px 16px;
  width: 100%;
  /*margin: auto;*/
  display: flex;
  /*justify-content: center;*/
  border: 1px solid rgb(47, 51, 54);
}

.wd-content:hover {
  background-color: rgb(18, 18, 18);
}

.wd-content-top {
  padding: 12px 16px;
  width: 100%;
  /*margin: auto;*/
  display: flex;
  /*justify-content: center;*/
  /*border: 1px solid rgb(47, 51, 54);*/
}

.wd-content-tabs {
  padding: 12px 0 12px 0;
  width: 100%;
  /*margin: auto;*/
  display: flex;
  /*justify-content: center;*/
  /*border: 1px solid rgb(47, 51, 54);*/
}

.wd-content-topic {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

.wd-topic-options {
  margin-left: auto;
  margin-right: 0;
  color: white;
  font-size: 20px;
  margin-top: -10px;
}

.wd-trending {
  color: rgb(110, 118, 125);
  font-size: 13px;
}

.wd-topic {
  color: white;
  font-size: 17px;
  font-weight: bolder;
  padding: 7px 0;
}

.fa-search {
  color: white;
  font-size: 16px;
  position: absolute;
  align-content: center;
  padding-left: 13px;
}

.wd-article-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.wd-article-account {
  color: rgb(110, 118, 125);
  font-size: 13px;
  display: flex;
  align-items: center;
}

.wd-account {
  color: white;
  font-weight: bolder;
  padding: 0 4px;
}

.wd-account-img {
  border-radius: 50%;
  object-fit: cover;
  height: 15px;
}

.fa-certificate {
  color: white;
  font-size: 13px;
}

.fa-check {
  color: black;
  font-size: 7px;
}

.fa-stack {
  margin: 0 -4px 0 -12px;
}

.fa-ellipsis-h {
  color: black;
  font-size: 8px;
}

.fa-twitter {
  /*color: rgb(29, 161, 242);*/
  color: white;
}

.wd-more-icon {
  margin-top: -3px;
  margin-right: -10px;
}

.wd-list-group-item-more {
  display: flex;
  align-content: center;
  padding: 7px 16px 5px 16px !important;
}

.wd-article-title {
  color: white;
  font-size: 17px;
  font-weight: bolder;
  padding: 3px 8px 3px 0;
}

.wd-article-img {
  object-fit: cover;
  width: 100px;
  height: 100px;
  border-radius: 10%;
  margin-left: auto;
  margin-right: 0;
  /*padding-left: 16px;*/
}

.wd-event-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.wd-event-topic {
  color: rgb(110, 118, 125);
  font-size: 13px;
}

.wd-event-headline {
  display: inline-block;
  align-items: center;
  color: white;
  font-size: 17px;
  font-weight: bolder;
  padding: 9px 0;
}

.wd-flag-emoji {
  height: 18px;
  margin-bottom: 4px;
  margin-left: -3px;

}

.wd-event-headline-container {
  display: inline;
  align-items: center;
  color: white;
  line-height: 20px;
  padding-right: 8px;
}

.wd-event-trending-row {
  color: rgb(110, 118, 125);
  font-size: 13px;
  display: flex;
  align-items: center;
}

.wd-trending-with {
  display: flex;
  align-items: center;
  color: white;
}

.wd-event-img {
  object-fit: cover;
  width: 100px;
  height: 100px;
  border-radius: 10%;
  margin-left: auto;
  margin-right: 0;
}

.wd-who-to-follow-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid rgb(47, 51, 54);
  background-color: rgb(47, 51, 54);
  border-radius: 1em;
  margin-top: 12px;
}

.wd-who-to-follow-heading {
  font-size: 24px;
  color: white;
  font-weight: bold;
  padding: 8px 16px;
  width: 100%;
  display: flex;
}

.wd-who-to-follow-row {
  padding: 12px 16px;
  width: 100%;
  display: flex;
  flex-direction: row;
  border-top: 1px solid rgb(47, 51, 54);
  border-bottom: 1px solid rgb(47, 51, 54);
  align-items: center;
}

.wd-who-to-follow-row:hover {
  background-color: rgb(72, 79, 84);
}

.wd-account-details {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  padding-left: 7px;
}

.wd-account-name {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.wd-stack {
  margin-left: -16px;
}

.wd-account-handle {
  font-size: 14px;
  color: rgb(184, 184, 184);
  margin-top: -5px;
}

.wd-account-img-lg {
  border-radius: 50%;
  object-fit: cover;
  height: 40px;
}

.wd-nav-override {
  margin-left: auto !important;
  margin-right: 0 !important;
}

.nav-link.wd-nav-link-override-sm.active {
  background-color: white !important;
  color: black !important;
  font-size: 16px !important;
  font-weight: bold;
  border-radius: 4em !important;
}

.nav-link.wd-nav-link-override-sm.active:hover {
  background-color: rgb(184, 184, 184) !important;
}

.wd-show-more {
  color: rgb(29, 161, 242);
  font-size: 14px;
  font-weight: normal;
  border-bottom-right-radius: 1em;
  border-bottom-left-radius: 1em;
  padding: 12px 16px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.wd-show-more:hover {
  color: rgb(29, 161, 242);
  font-size: 14px;
  font-weight: normal;
  background-color: rgb(72, 79, 84);
}

/* XL Content Settings */
@media (min-width: 1200px) and (max-width: 1399px) {
  .wd-searchbar > input[type=text] {
    height: 35px;
    font-size: 15px;
  }

  .wd-searchbar > input[type=text]::placeholder {
    color: white;
    opacity: 1;
    align-content: center;
  }

  .wd-settings {
    margin-top: -7px;
  }

  .wd-content-top {
    padding: 12px 16px 0 16px;
  }

  .list-group-item.wd-list-group-item-override {
    font-size: 16px !important;
  }

  .nav-link.wd-nav-link-override.active {
    font-size: 16px !important;
  }

  .wd-show-more {
    border-bottom-left-radius: 1.35em;
    border-bottom-right-radius: 1.35em;
  }

  .wd-who-to-follow-container {
    border-radius: 0.7em;
  }

  .wd-who-to-follow-heading {
    font-size: 20px;
  }

  .wd-who-to-follow-row {
    padding: 6px 16px;
  }

  .wd-account-img-lg {
    height: 36px;
  }

  .wd-account {
    font-size: 15px;
    padding: 0 4px;
  }

  .ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: white;
  }

  .wd-account-details {
    padding-left: 5px;
    margin-top: -22px;
  }

  .wd-stack {
    margin-left: -35px;
  }

  .wd-account-handle {
    font-size: 14px;
    margin-top: -18px;
  }

  .nav-link.wd-nav-link-override-sm.active {
    font-size: 13px !important;
  }
}

/* L Content Settings */
@media (min-width: 992px) and (max-width: 1199px) {
  .fa-inbox {
    margin-left: 2px;
  }

  .fa-bookmark {
    margin-left: 6px;
  }

  .fa-user {
    margin-left: 6px;
  }

  .wd-more-icon {
    margin-left: -11px;
  }

  .wd-searchbar > input[type=text] {
    height: 32px;
    font-size: 14px;
  }

  .wd-searchbar > input[type=text]::placeholder {
    color: white;
    opacity: 1;
    align-content: center;
  }

  .wd-settings {
    margin-top: -8px;
  }

  .wd-content-top {
    padding: 12px 16px 0 16px;
  }

  .nav-tabs.wd-override-tabs {
    padding-top: 7px;
  }

  .nav-link.wd-override-nav-link {
    color: rgb(110, 118, 125) !important;
    background-color: black !important;
    font-size: 15px !important;
    /*border-bottom: 1px solid rgb(29, 161, 242) !important;*/
    /*border-color: rgb(29, 161, 242) rgb(29, 161, 242) transparent !important;*/
  }

  .list-group-item.wd-list-group-item-override {
    font-size: 20px !important;
    align-items: center;
  }

  .nav-link.wd-nav-link-override.active {
    font-size: 16px !important;
  }

  .wd-who-to-follow-container {
    border-radius: 0.7em;
  }

  .wd-show-more {
    border-bottom-left-radius: 1.35em;
    border-bottom-right-radius: 1.35em;
  }

  .wd-who-to-follow-heading {
    font-size: 18px;
  }

  .wd-who-to-follow-row {
    padding: 6px 16px;
  }

  .wd-account-img-lg {
    height: 32px;
  }

  .wd-account {
    font-size: 15px;
    padding: 0 4px;
    /*overflow: hidden;*/
    /*white-space: nowrap;*/
    /*text-overflow: ellipsis;*/
  }

  .wd-account-details {
    padding-left: 5px;
    margin-top: -22px;
  }

  .wd-stack {
    margin-left: -35px;
  }

  .wd-account-handle {
    font-size: 14px;
    margin-top: -18px;
  }

  .nav-link.wd-nav-link-override-sm.active {
    font-size: 13px !important;
  }
}

/* M Content Settings */
@media (min-width: 768px) and (max-width: 991px) {
  .fa-twitter {
    margin-left: 18px;
  }

  .fa-home {
    margin-left: 16px;
  }

  .fa-hashtag {
    margin-left: 20px;
  }


  .fa-bell {
    margin-left: 19px;
  }

  .fa-inbox {
    margin-left: 17px;
  }

  .fa-bookmark {
    margin-left: 21px;
  }

  .fa-list-ul {
    margin-left: 20px;
  }

  .fa-user {
    margin-left: 21px;
  }

  .wd-more-icon {
    margin-left: 5px;
  }

  .wd-searchbar > input[type=text] {
    height: 32px;
    font-size: 14px;
  }

  .wd-searchbar > input[type=text]::placeholder {
    color: white;
    opacity: 1;
    align-content: center;
  }

  .wd-settings {
    margin-top: -8px;
  }

  .wd-content-top {
    padding: 12px 16px 0 16px;
  }

  .nav-tabs.wd-override-tabs {
    padding-top: 7px;
  }

  .nav-link.wd-override-nav-link {
    color: rgb(110, 118, 125) !important;
    background-color: black !important;
    font-size: 15px !important;
    /*border-bottom: 1px solid rgb(29, 161, 242) !important;*/
    /*border-color: rgb(29, 161, 242) rgb(29, 161, 242) transparent !important;*/
  }

  .list-group-item.wd-list-group-item-override {
    font-size: 20px !important;
    align-items: center;
  }

  .nav-link.wd-nav-link-override.active {
    font-size: 16px !important;
  }

  .wd-who-to-follow-container {
    border-radius: 0.7em;
  }

  .wd-who-to-follow-heading {
    font-size: 18px;
  }

  .wd-who-to-follow-row {
    padding: 6px 16px;
  }

  .wd-account-img-lg {
    height: 32px;
  }

  .wd-account {
    font-size: 15px;
    padding: 0 4px;
    /*overflow: hidden;*/
    /*white-space: nowrap;*/
    /*text-overflow: ellipsis;*/
  }

  .wd-account-details {
    padding-left: 5px;
    margin-top: -22px;
  }

  .wd-stack {
    margin-left: -35px;
  }

  .wd-account-handle {
    font-size: 14px;
    margin-top: -18px;
  }

  .nav-link.wd-nav-link-override-sm.active {
    font-size: 13px !important;
  }
}

/* S Content Settings */
@media (min-width: 576px) and (max-width: 767px) {
  .fa-twitter {
    margin-left: 3px;
  }

  .fa-home {
    margin-left: 1px;
  }

  .fa-hashtag {
    margin-left: 4px;
  }

  .fa-bell {
    margin-left: 3px;
  }

  .fa-inbox {
    margin-left: 1px;
  }

  .fa-bookmark {
    margin-left: 5px;
  }

  .fa-list-ul {
    margin-left: 3px;
  }

  .fa-user {
    margin-left: 4px;
  }

  .wd-more-icon {
    /*margin-left: 5px;*/
  }

  .wd-searchbar > input[type=text] {
    height: 32px;
    font-size: 14px;
  }

  .wd-searchbar > input[type=text]::placeholder {
    color: white;
    opacity: 1;
    align-content: center;
  }

  .wd-settings {
    margin-top: -8px;
  }

  .wd-content-top {
    padding: 12px 16px 0 16px;
  }

  .nav-tabs.wd-override-tabs {
    padding-top: 7px;
  }

  .nav-link.wd-override-nav-link {
    color: rgb(110, 118, 125) !important;
    background-color: black !important;
    font-size: 15px !important;
    /*border-bottom: 1px solid rgb(29, 161, 242) !important;*/
    /*border-color: rgb(29, 161, 242) rgb(29, 161, 242) transparent !important;*/
  }

  .list-group-item.wd-list-group-item-override {
    font-size: 20px !important;
    align-items: center;
  }

  .nav-link.wd-nav-link-override.active {
    font-size: 15px !important;
  }

  .wd-bottom-left-caption {
    font-size: 20px;
  }

  .wd-topic {
    font-size: 16px;
  }

  .wd-event-headline-container {
    font-size: 16px;
  }

  .wd-article-title {
    font-size: 15px;
  }

  .wd-trending {
    /*font-size: 13px;*/
  }

  .wd-who-to-follow-container {
    border-radius: 0.7em;
  }

  .wd-who-to-follow-heading {
    font-size: 18px;
  }

  .wd-who-to-follow-row {
    padding: 6px 16px;
  }

  .wd-account-img-lg {
    height: 32px;
  }

  .wd-account {
    font-size: 13px;
    padding: 0 4px;
    /*overflow: hidden;*/
    /*white-space: nowrap;*/
    /*text-overflow: ellipsis;*/
  }

  .fa-certificate {
    color: white;
    font-size: 12px;
  }


  .wd-account-details {
    padding-left: 5px;
    margin-top: -22px;
  }

  .wd-stack {
    margin-left: -35px;
  }

  .wd-account-handle {
    font-size: 14px;
    margin-top: -18px;
  }

  .nav-link.wd-nav-link-override-sm.active {
    font-size: 13px !important;
  }
}

/* XS Content Settings */
@media (max-width: 575px) {
  .fa-twitter {
    margin-left: 3px;
  }

  .fa-home {
    margin-left: 1px;
  }

  .fa-hashtag {
    margin-left: 4px;
  }

  .fa-bell {
    margin-left: 3px;
  }

  .fa-inbox {
    margin-left: 1px;
  }

  .fa-bookmark {
    margin-left: 5px;
  }

  .fa-list-ul {
    margin-left: 3px;
  }

  .fa-user {
    margin-left: 4px;
  }

  .wd-more-icon {
    /*margin-left: 5px;*/
  }

  .wd-searchbar > input[type=text] {
    height: 32px;
    font-size: 14px;
  }

  .wd-searchbar > input[type=text]::placeholder {
    color: white;
    opacity: 1;
    align-content: center;
  }

  .wd-settings {
    margin-top: -8px;
  }

  .wd-content-top {
    padding: 12px 16px 0 16px;
  }

  .nav-tabs.wd-override-tabs {
    padding-top: 7px;
  }

  .nav-link.wd-override-nav-link {
    color: rgb(110, 118, 125) !important;
    background-color: black !important;
    font-size: 15px !important;
    /*border-bottom: 1px solid rgb(29, 161, 242) !important;*/
    /*border-color: rgb(29, 161, 242) rgb(29, 161, 242) transparent !important;*/
  }

  .list-group-item.wd-list-group-item-override {
    font-size: 20px !important;
    align-items: center;
  }

  .nav-link.wd-nav-link-override.active {
    font-size: 15px !important;
  }

  .wd-who-to-follow-container {
    border-radius: 0.7em;
  }

  .wd-who-to-follow-heading {
    font-size: 18px;
  }

  .wd-who-to-follow-row {
    padding: 6px 16px;
  }

  .wd-account-img-lg {
    height: 32px;
  }

  .wd-account {
    font-size: 13px;
    padding: 0 4px;
    /*overflow: hidden;*/
    /*white-space: nowrap;*/
    /*text-overflow: ellipsis;*/
  }

  .fa-certificate {
    color: white;
    font-size: 12px;
  }

  .wd-article-title {
    font-size: 15px;
  }

  .wd-event-headline {
    font-size: 15px;
  }

  .wd-account-details {
    padding-left: 5px;
    margin-top: -22px;
  }

  .wd-topic {
    font-size: 16px;
  }

  .wd-stack {
    margin-left: -35px;
  }

  .wd-account-handle {
    font-size: 14px;
    margin-top: -18px;
  }

  .nav-link.wd-nav-link-override-sm.active {
    font-size: 13px !important;
  }
}

