.wd-textarea-container {
  padding-top: 40px;
}

.wd-whats-happening {
  width: 100%;
  color: white;
  background-color: black;
  /*border-color: rgb(10, 10, 10);*/
  border-color: transparent;
  font-size: 16px;
  margin-left: 10px;
  margin-bottom: -15px;
  margin-top: 15px;
  resize: none;
  overflow: hidden;
}

.wd-whats-happening::placeholder {
  color: white;
}

.wd-whats-happening:focus {
  outline: none;
}

.wd-whats-happening-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.wd-whats-happening-content {
  width: 100%;
}

.wd-whats-happening-img {
  /*margin-top: -95px;*/
  margin-top: 43px;
}

.wd-line-break {
  color: rgb(110, 118, 125);
}

.wd-tuit-options-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 5px 15px 5px;
}

.wd-tuit-icons {
  justify-content: flex-start;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.fa-image {
  font-size: 17px;
  color: rgb(29, 161, 242);
  margin: 0 0.6em 0 0.2em;
}

.fa-image:hover {
  cursor: pointer;
}

.fa-square-poll-horizontal {
  font-size: 17px;
  color: rgb(29, 161, 242);
  margin: 0 0.6em;
}

.fa-square-poll-horizontal:hover {
  cursor: pointer;
}

.fa-face-smile {
  font-size: 17px;
  color: rgb(29, 161, 242);
  margin: 0 0.6em;
}

.fa-face-smile:hover {
  cursor: pointer;
}

.fa-calendar {
  font-size: 17px;
  color: rgb(29, 161, 242);
  margin: 0 0.6em;
}

.fa-calendar:hover {
  cursor: pointer;
}

.fa-location-dot {
  font-size: 17px;
  color: rgb(29, 161, 242);
  margin: 0 0.6em;
}

.fa-location-dot:hover {
  cursor: pointer;
}


.wd-tuit-btn {
  background-color: rgb(29, 161, 242);
  color: white;
  font-weight: bolder;
  border: none;
  border-radius: 40px;
  padding: 7px 28px;
}

.wd-tuit-btn:hover {
  background-color: rgb(27, 129, 191);
}
